In [31]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (1.24.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from scikit-learn) (3.3.0)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\MEHDI\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [32]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [33]:
df = pd.read_csv("Test.csv")

In [34]:
df.head()

,id_eleve,id_annee,id_classe,MoyenneGen_i1,NbrJourAbsenceAutorise_i1,NbrUniteAbsenceAutorise_i1,NbrJourAbsenceNonAutorise_i1,NbrUniteAbsenceNonAutorise_i1,MCaRtable_i1,istayssir_i1,...,id_genre,datenaiseleve,nationalite,id_handicap,Adress,Préscolarisé,profession_mere,profession_pere,Level,School_period
0,835012,9,D8D16D86-9CF7-455F-906B-FE1DD1A38839,8.38,40.0,0.0,0.0,48.0,0,0,...,1,2002,1,0.0,حي احجر معبد تاونات,0,Femme au foyer,agriculteur,8,42
1,7996730,9,5E610EE0-7805-4C91-94E6-13FCAEE55E59,9.30,49.0,8.0,4.0,6.0,0,0,...,2,2003,1,0.0,شارع بيروت 8 تجزئة رزقية الزهور 2 فاس,1,inconnu,agriculteur,8,5
2,7739476,9,A414DA01-EC06-4A71-BBDF-BFB4185E58D9,13.58,8.0,16.0,0.0,0.0,0,0,...,1,2004,1,0.0,جوهرة الاطلس عمارة 11 الشقة 11 بني ملال,0,inconnu,policier,8,20
3,211400,9,952D34FF-2649-47FB-AA75-E502E4C9A7D1,6.51,61.0,0.0,0.0,8.0,0,0,...,1,2004,1,0.0,جماعة دار ام السلطان,1,Caresser maison,agriculteur,8,22
4,4305350,9,C3E9025F-DAD9-434D-AC9A-1B5F5E5B352F,8.59,44.0,0.0,0.0,48.0,0,0,...,1,2002,1,0.0,مزدو,1,Femme au foyer,agriculteur,8,3

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34579 entries, 0 to 34578
Data columns (total 57 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id_eleve                       34579 non-null  int64
 1   id_annee                       34579 non-null  int64
 2   id_classe                      34579 non-null  object
 3   MoyenneGen_i1                  34579 non-null  float64
 4   NbrJourAbsenceAutorise_i1      34579 non-null  float64
 5   NbrUniteAbsenceAutorise_i1     34579 non-null  float64
 6   NbrJourAbsenceNonAutorise_i1   34579 non-null  float64
 7   NbrUniteAbsenceNonAutorise_i1  34579 non-null  float64
 8   MCaRtable_i1                   34579 non-null  int64
 9   istayssir_i1                   34579 non-null  int64
 10  White_year_i1                  34579 non-null  int64
 11  target_i1                      34579 non-null  int64
 12  international_i1               34579 non-null  int64
 13  Level_i1                       34579 non-null  int64
 14  failure_i1                     34579 non-null  int64
 15  Classment_class_i1             34579 non-null  int64
 16  Nb_class_failure_i1            34579 non-null  int64
 17  Nb_class_dropout_i1            34579 non-null  int64
 18  nbr_eleves_i1                  34579 non-null  float64
 19  nbr_filles_i1                  34579 non-null  float64
 20  MoyenneClasse_i1               34579 non-null  float64
 21  Multiclass_i1                  34579 non-null  float64
 22  CD_REG_i1                      34579 non-null  int64
 23  cd_prov_i1                     34579 non-null  int64
 24  DO_ETAB_i1                     34579 non-null  int64
 25  Internat_i1                    34579 non-null  int64
 26  Exist_Internet_i1              34579 non-null  int64
 27  AdresseL_i1                    34579 non-null  object
 28  INDHcom_i1                     34579 non-null  int64
 29  INDHquart_i1                   34579 non-null  int64
 30  ProgrammeTissir_i1             34579 non-null  int64
 31  Coefficients_CC_11_i1          34579 non-null  float64
 32  Coefficients_CC_12_i1          34579 non-null  float64
 33  Coefficients_CC_18_i1          34579 non-null  float64
 34  Coefficients_CC_19_i1          34579 non-null  float64
 35  Coefficients_CC_20_i1          34579 non-null  float64
 36  Coefficients_CC_23_i1          34579 non-null  float64
 37  Coefficients_CC_24_i1          34579 non-null  float64
 38  Coefficients_CC_26_i1          34579 non-null  float64
 39  NoteCC_11_i1                   34579 non-null  float64
 40  NoteCC_12_i1                   34579 non-null  float64
 41  NoteCC_18_i1                   34579 non-null  float64
 42  NoteCC_19_i1                   34579 non-null  float64
 43  NoteCC_20_i1                   34579 non-null  float64
 44  NoteCC_23_i1                   34579 non-null  float64
 45  NoteCC_24_i1                   34579 non-null  float64
 46  NoteCC_26_i1                   34579 non-null  float64
 47  id_genre                       34579 non-null  int64
 48  datenaiseleve                  34579 non-null  int64
 49  nationalite                    34579 non-null  int64
 50  id_handicap                    34579 non-null  float64
 51  Adress                         34579 non-null  object
 52  Préscolarisé                   34579 non-null  int64
 53  profession_mere                34579 non-null  object
 54  profession_pere                34579 non-null  object
 55  Level                          34579 non-null  int64
 56  School_period                  34579 non-null  int64
dtypes: float64(26), int64(26), object(5)
memory usage: 15.0+ MB

In [7]:
df.columns

Index(['id_eleve', 'id_annee', 'id_classe', 'MoyenneGen_i1',
       'NbrJourAbsenceAutorise_i1', 'NbrUniteAbsenceAutorise_i1',
       'NbrJourAbsenceNonAutorise_i1', 'NbrUniteAbsenceNonAutorise_i1',
       'MCaRtable_i1', 'istayssir_i1', 'White_year_i1', 'target_i1',
       'international_i1', 'Level_i1', 'failure_i1', 'Classment_class_i1',
       'Nb_class_failure_i1', 'Nb_class_dropout_i1', 'nbr_eleves_i1',
       'nbr_filles_i1', 'MoyenneClasse_i1', 'Multiclass_i1', 'CD_REG_i1',
       'cd_prov_i1', 'DO_ETAB_i1', 'Internat_i1', 'Exist_Internet_i1',
       'AdresseL_i1', 'INDHcom_i1', 'INDHquart_i1', 'ProgrammeTissir_i1',
       'Coefficients_CC_11_i1', 'Coefficients_CC_12_i1',
       'Coefficients_CC_18_i1', 'Coefficients_CC_19_i1',
       'Coefficients_CC_20_i1', 'Coefficients_CC_23_i1',
       'Coefficients_CC_24_i1', 'Coefficients_CC_26_i1', 'NoteCC_11_i1',
       'NoteCC_12_i1', 'NoteCC_18_i1', 'NoteCC_19_i1', 'NoteCC_20_i1',
       'NoteCC_23_i1', 'NoteCC_24_i1', 'NoteCC_26_i1', 'id_genre',
       'datenaiseleve', 'nationalite', 'id_handicap', 'Adress', 'Préscolarisé',
       'profession_mere', 'profession_pere', 'Level', 'School_period'],
      dtype='object')

In [35]:
def Feature_engineering1(df):
    df['School_period'] = (df['id_annee'] +2007)-df['DO_ETAB_i1']
    df=df.drop(['DO_ETAB_i1'], axis=1)
    
    df['age'] = ( df['id_annee'] +2007)-df['datenaiseleve'] 
    df = df.drop(['datenaiseleve'], axis=1)
    
    # Text features
    categorical_columns = ['profession_pere','profession_mere']
    encoder = LabelEncoder()
    for column in categorical_columns:
        df[column] = encoder.fit_transform(df[column])
        
    # Normalisation
    scaler = MinMaxScaler()
    # General Normalization
    columns_to_normalize=[ 'profession_pere','profession_mere','NbrJourAbsenceAutorise_i1','NbrUniteAbsenceAutorise_i1', 'NbrJourAbsenceNonAutorise_i1','NbrUniteAbsenceNonAutorise_i1',
                          'failure_i1', 'MoyenneClasse_i1','age','School_period', 'Nb_class_failure_i1','Nb_class_dropout_i1','nbr_eleves_i1', 'nbr_filles_i1','Multiclass_i1','Level_i1','Classment_class_i1',
                         'Coefficients_CC_11_i1', 'Coefficients_CC_12_i1', 'Coefficients_CC_18_i1', 'Coefficients_CC_19_i1', 'Coefficients_CC_20_i1', 'Coefficients_CC_23_i1', 'Coefficients_CC_24_i1', 
                          'Coefficients_CC_26_i1'] 
    df[columns_to_normalize] = scaler.fit_transform(df[columns_to_normalize])

    # Normalization by class
    columns_to_normalize_class = ['MoyenneGen_i1','NoteCC_11_i1','NoteCC_12_i1', 'NoteCC_18_i1', 'NoteCC_19_i1', 'NoteCC_20_i1','NoteCC_23_i1', 'NoteCC_24_i1', 'NoteCC_26_i1']
    # Group by 'class_id' and apply Min-Max normalization within each group
    df[columns_to_normalize_class] = scaler.fit_transform(df[columns_to_normalize_class])

    # Feature encoding
    columns_to_encode = ['target_i1','cd_prov_i1']
    df["id_genre"] = df["id_genre"] - 1
    # Get dummy variables for the specified columns
    df = pd.get_dummies(df, columns=columns_to_encode)

    # New features     
    df['Average_scientific_subjects_i1'] = df[['NoteCC_19_i1', 'NoteCC_20_i1', 'NoteCC_23_i1']].mean(axis=1)
    df['Average_literary_subjects_i1'] = df[['NoteCC_11_i1', 'NoteCC_12_i1', 'NoteCC_18_i1', 'NoteCC_24_i1']].mean(axis=1)

    # Drop columns        
    df=df.drop(['id_annee','Level_i1','Adress','AdresseL_i1','Level','id_classe','CD_REG_i1','White_year_i1','CD_REG_i1','id_eleve'], axis=1)
    return df

In [17]:

data_cleaned=Feature_engineering(df)

In [26]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

def Feature_engineering(row):
    # Copy the row to avoid modifying the original DataFrame
    row = row.copy()
    
    row['School_period'] = (row['id_annee'] + 2007) - row['DO_ETAB_i1']
    row = row.drop(['DO_ETAB_i1'], axis=1)
    
    row['age'] = (row['id_annee'] + 2007) - row['datenaiseleve'] 
    row = row.drop(['datenaiseleve'], axis=1)
    
    # Text features
    categorical_columns = ['profession_pere', 'profession_mere']
    encoder = LabelEncoder()
    for column in categorical_columns:
        row[column] = encoder.fit_transform(row[column])
        
    # Normalisation
    scaler = MinMaxScaler()
    # General Normalization
    columns_to_normalize = ['profession_pere', 'profession_mere', 'NbrJourAbsenceAutorise_i1', 'NbrUniteAbsenceAutorise_i1', 
                            'NbrJourAbsenceNonAutorise_i1', 'NbrUniteAbsenceNonAutorise_i1', 'failure_i1', 'MoyenneClasse_i1',
                            'age', 'School_period', 'Nb_class_failure_i1', 'Nb_class_dropout_i1', 'nbr_eleves_i1', 'nbr_filles_i1',
                            'Multiclass_i1', 'Classment_class_i1', 'Coefficients_CC_11_i1', 'Coefficients_CC_12_i1', 'Coefficients_CC_18_i1',
                            'Coefficients_CC_19_i1', 'Coefficients_CC_20_i1', 'Coefficients_CC_23_i1', 'Coefficients_CC_24_i1', 
                            'Coefficients_CC_26_i1'] 
    row[columns_to_normalize] = scaler.fit_transform(row[columns_to_normalize])

    # Normalization by class
    columns_to_normalize_class = ['MoyenneGen_i1', 'NoteCC_11_i1', 'NoteCC_12_i1', 'NoteCC_18_i1', 'NoteCC_19_i1', 'NoteCC_20_i1',
                                   'NoteCC_23_i1', 'NoteCC_24_i1', 'NoteCC_26_i1']
    # Group by 'class_id' and apply Min-Max normalization within each group
    row[columns_to_normalize_class] = scaler.fit_transform(row[columns_to_normalize_class])

    # Feature encoding
    columns_to_encode = ['target_i1', 'cd_prov_i1']
    row["id_genre"] = row["id_genre"] - 1
    # Get dummy variables for the specified columns
    row = pd.get_dummies(row, columns=columns_to_encode)

    # New features     
    row['Average_scientific_subjects_i1'] = row[['NoteCC_19_i1', 'NoteCC_20_i1', 'NoteCC_23_i1']].mean(axis=1)
    row['Average_literary_subjects_i1'] = row[['NoteCC_11_i1', 'NoteCC_12_i1', 'NoteCC_18_i1', 'NoteCC_24_i1']].mean(axis=1)

    # Drop columns        
    row = row.drop(['id_annee', 'Level_i1', 'Adress', 'AdresseL_i1', 'Level', 'id_classe', 'CD_REG_i1', 'White_year_i1', 
                    'CD_REG_i1', 'id_eleve'], axis=1)
    
    return row

In [42]:
# Selecting a row based on id_eleve and id_annee
id_eleve = 835012
id_annee = 9
selected_row = df[(df['id_eleve'] == id_eleve) & (df['id_annee'] == id_annee)].copy()

# Applying feature engineering to the selected row
selected_row_processed = Feature_engineering1(selected_row)
print(selected_row)
# Now selected_row_processed contains the preprocessed features for the selected row
# print(selected_row_processed)
# prectionrow=model.predict(selected_row_processed)
# print(prectionrow)

   id_eleve  id_annee                             id_classe  MoyenneGen_i1  \
0    835012         9  D8D16D86-9CF7-455F-906B-FE1DD1A38839           8.38

   NbrJourAbsenceAutorise_i1  NbrUniteAbsenceAutorise_i1  \
0                       40.0                         0.0

   NbrJourAbsenceNonAutorise_i1  NbrUniteAbsenceNonAutorise_i1  MCaRtable_i1  \
0                           0.0                           48.0             0

   istayssir_i1  ...  id_genre  datenaiseleve  nationalite  id_handicap  \
0             0  ...         1           2002            1          0.0

                        Adress  Préscolarisé  profession_mere  \
0        حي احجر معبد تاونات               0   Femme au foyer

   profession_pere  Level  School_period
0      agriculteur      8             42

[1 rows x 57 columns]

In [19]:
df.head()

,id_eleve,id_annee,id_classe,MoyenneGen_i1,NbrJourAbsenceAutorise_i1,NbrUniteAbsenceAutorise_i1,NbrJourAbsenceNonAutorise_i1,NbrUniteAbsenceNonAutorise_i1,MCaRtable_i1,istayssir_i1,...,id_genre,datenaiseleve,nationalite,id_handicap,Adress,Préscolarisé,profession_mere,profession_pere,Level,School_period
0,835012,9,D8D16D86-9CF7-455F-906B-FE1DD1A38839,8.38,40.0,0.0,0.0,48.0,0,0,...,1,2002,1,0.0,حي احجر معبد تاونات,0,Femme au foyer,agriculteur,8,42
1,7996730,9,5E610EE0-7805-4C91-94E6-13FCAEE55E59,9.30,49.0,8.0,4.0,6.0,0,0,...,2,2003,1,0.0,شارع بيروت 8 تجزئة رزقية الزهور 2 فاس,1,inconnu,agriculteur,8,5
2,7739476,9,A414DA01-EC06-4A71-BBDF-BFB4185E58D9,13.58,8.0,16.0,0.0,0.0,0,0,...,1,2004,1,0.0,جوهرة الاطلس عمارة 11 الشقة 11 بني ملال,0,inconnu,policier,8,20
3,211400,9,952D34FF-2649-47FB-AA75-E502E4C9A7D1,6.51,61.0,0.0,0.0,8.0,0,0,...,1,2004,1,0.0,جماعة دار ام السلطان,1,Caresser maison,agriculteur,8,22
4,4305350,9,C3E9025F-DAD9-434D-AC9A-1B5F5E5B352F,8.59,44.0,0.0,0.0,48.0,0,0,...,1,2002,1,0.0,مزدو,1,Femme au foyer,agriculteur,8,3

In [10]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34579 entries, 0 to 34578
Data columns (total 59 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   MoyenneGen_i1                   34579 non-null  float64
 1   NbrJourAbsenceAutorise_i1       34579 non-null  float64
 2   NbrUniteAbsenceAutorise_i1      34579 non-null  float64
 3   NbrJourAbsenceNonAutorise_i1    34579 non-null  float64
 4   NbrUniteAbsenceNonAutorise_i1   34579 non-null  float64
 5   MCaRtable_i1                    34579 non-null  int64
 6   istayssir_i1                    34579 non-null  int64
 7   international_i1                34579 non-null  int64
 8   failure_i1                      34579 non-null  float64
 9   Classment_class_i1              34579 non-null  float64
 10  Nb_class_failure_i1             34579 non-null  float64
 11  Nb_class_dropout_i1             34579 non-null  float64
 12  nbr_eleves_i1                   34579 non-null  float64
 13  nbr_filles_i1                   34579 non-null  float64
 14  MoyenneClasse_i1                34579 non-null  float64
 15  Multiclass_i1                   34579 non-null  float64
 16  Internat_i1                     34579 non-null  int64
 17  Exist_Internet_i1               34579 non-null  int64
 18  INDHcom_i1                      34579 non-null  int64
 19  INDHquart_i1                    34579 non-null  int64
 20  ProgrammeTissir_i1              34579 non-null  int64
 21  Coefficients_CC_11_i1           34579 non-null  float64
 22  Coefficients_CC_12_i1           34579 non-null  float64
 23  Coefficients_CC_18_i1           34579 non-null  float64
 24  Coefficients_CC_19_i1           34579 non-null  float64
 25  Coefficients_CC_20_i1           34579 non-null  float64
 26  Coefficients_CC_23_i1           34579 non-null  float64
 27  Coefficients_CC_24_i1           34579 non-null  float64
 28  Coefficients_CC_26_i1           34579 non-null  float64
 29  NoteCC_11_i1                    34579 non-null  float64
 30  NoteCC_12_i1                    34579 non-null  float64
 31  NoteCC_18_i1                    34579 non-null  float64
 32  NoteCC_19_i1                    34579 non-null  float64
 33  NoteCC_20_i1                    34579 non-null  float64
 34  NoteCC_23_i1                    34579 non-null  float64
 35  NoteCC_24_i1                    34579 non-null  float64
 36  NoteCC_26_i1                    34579 non-null  float64
 37  id_genre                        34579 non-null  int64
 38  nationalite                     34579 non-null  int64
 39  id_handicap                     34579 non-null  float64
 40  Préscolarisé                    34579 non-null  int64
 41  profession_mere                 34579 non-null  float64
 42  profession_pere                 34579 non-null  float64
 43  School_period                   34579 non-null  float64
 44  age                             34579 non-null  float64
 45  target_i1_0                     34579 non-null  uint8
 46  target_i1_1                     34579 non-null  uint8
 47  target_i1_2                     34579 non-null  uint8
 48  cd_prov_i1_61                   34579 non-null  uint8
 49  cd_prov_i1_131                  34579 non-null  uint8
 50  cd_prov_i1_171                  34579 non-null  uint8
 51  cd_prov_i1_231                  34579 non-null  uint8
 52  cd_prov_i1_271                  34579 non-null  uint8
 53  cd_prov_i1_451                  34579 non-null  uint8
 54  cd_prov_i1_531                  34579 non-null  uint8
 55  cd_prov_i1_561                  34579 non-null  uint8
 56  cd_prov_i1_591                  34579 non-null  uint8
 57  Average_scientific_subjects_i1  34579 non-null  float64
 58  Average_literary_subjects_i1    34579 non-null  float64
dtypes: float64(36), int64(11), uint8(12)
memory usage: 12.8 MB

In [11]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (4.3.0)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\MEHDI\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from lightgbm) (1.24.2)
Requirement already satisfied: scipy in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from lightgbm) (1.12.0)

In [23]:
import joblib

In [24]:
model = joblib.load("model.pkl")

C:\Users\MEHDI\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator LabelEncoder from version 1.2.2 when using version 1.4.1.post1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [14]:
y_pred = model.predict(data_cleaned)

[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).

In [15]:
data_cleaned.head()

,MoyenneGen_i1,NbrJourAbsenceAutorise_i1,NbrUniteAbsenceAutorise_i1,NbrJourAbsenceNonAutorise_i1,NbrUniteAbsenceNonAutorise_i1,MCaRtable_i1,istayssir_i1,international_i1,failure_i1,Classment_class_i1,...,cd_prov_i1_131,cd_prov_i1_171,cd_prov_i1_231,cd_prov_i1_271,cd_prov_i1_451,cd_prov_i1_531,cd_prov_i1_561,cd_prov_i1_591,Average_scientific_subjects_i1,Average_literary_subjects_i1
0,0.453798,0.428571,0.000000,0.000000,0.057416,0,0,0,0.0,0.015760,...,0,0,0,0,0,1,0,0,0.320000,0.445438
1,0.498307,0.527473,0.016598,0.013514,0.007177,0,0,0,0.0,0.027581,...,0,0,1,0,0,0,0,0,0.491167,0.374625
2,0.705370,0.076923,0.033195,0.000000,0.000000,0,0,0,0.0,0.003940,...,0,1,0,0,0,0,0,0,0.639750,0.721375
3,0.363328,0.659341,0.000000,0.000000,0.009569,0,0,0,0.0,0.035461,...,0,0,0,0,0,0,0,0,0.305417,0.290813
4,0.463957,0.472527,0.000000,0.000000,0.057416,0,0,0,0.0,0.024429,...,0,0,0,0,1,0,0,0,0.347167,0.460938

In [16]:
import flask

predict all

In [17]:
from flask import Flask, request, jsonify 

# Instantiate Flask app
app = Flask(__name__)

# Define a route for making predictions based on index
@app.route("/predict", methods=["POST"])
def predict_route():
    # Get the index from the JSON data in the request
    predictions = model.predict(data_cleaned)
    
    # Return predictions as JSON response
    return jsonify({"predictions": predictions.tolist()})

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=5757)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5757
 * Running on http://10.50.31.159:5757
Press CTRL+C to quit

In [ ]:
data_cleaned.info()

predict index:data_cleaned

In [ ]:
from flask import Flask, request, jsonify 

# Instantiate Flask app
app = Flask(__name__)

# Define a route for making predictions based on index
@app.route("/predictIndex/<int:index>", methods=["POST"])
def predictIndex_route(index):
    # Assuming data_cleaned is defined elsewhere and is accessible
    
    # Check if index is valid
    if index < 0:
        return jsonify({"error": "Invalid index"}), 400
    
    # Check if index is within the range of data_cleaned
    if index >= len(data_cleaned):
        return jsonify({"error": "Index out of range"}), 400
    
    # Get the row corresponding to the index
    row = data_cleaned.iloc[[index]]
    
    # Predict for the selected row
    prediction = model.predict(row)
    
    # Return prediction as JSON response
    return jsonify({"prediction": prediction.tolist()})

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=5757)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5757
 * Running on http://192.168.1.107:5757
Press CTRL+C to quit
127.0.0.1 - - [09/Mar/2024 15:08:37] "GET /predictIndex/835012 HTTP/1.1" 405 -
127.0.0.1 - - [09/Mar/2024 15:08:41] "GET /predictIndex/835 HTTP/1.1" 405 -
127.0.0.1 - - [09/Mar/2024 15:08:50] "POST /predictIndex/835 HTTP/1.1" 200 -

In [ ]:
row = data_cleaned.iloc[[student_id]]
row.head()

,MoyenneGen_i1,NbrJourAbsenceAutorise_i1,NbrUniteAbsenceAutorise_i1,NbrJourAbsenceNonAutorise_i1,NbrUniteAbsenceNonAutorise_i1,MCaRtable_i1,istayssir_i1,international_i1,failure_i1,Classment_class_i1,...,cd_prov_i1_131,cd_prov_i1_171,cd_prov_i1_231,cd_prov_i1_271,cd_prov_i1_451,cd_prov_i1_531,cd_prov_i1_561,cd_prov_i1_591,Average_scientific_subjects_i1,Average_literary_subjects_i1
student_id,,,,,,,,,,,,,,,,,,,,,
5,0.463957,0.472527,0.0,0.0,0.057416,0,0,0,0.0,0.024429,...,0,0,0,0,1,0,0,0,0.347167,0.460938

In [ ]:
# Define a route for making predictions
@app.route("/predict", methods=["POST"])
def predict():
    # Get the JSON data from the request
    data = request.json
    
    # Convert JSON data to DataFrame
    df = pd.DataFrame(data)
    
    # Perform feature engineering
    df_cleaned = Feature_engineering(df)
    
    # Make predictions using the loaded model
    predictions = model.predict(df_cleaned)
    
    # Return predictions as JSON response
    return jsonify({"predictions": predictions.tolist()})
    app.run(host="0.0.0.0", port=7117)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
from flask import Flask, request, jsonify 

# Instantiate Flask app
app = Flask(__name__)

# Define a route for making predictions based on index
@app.route("/predictIndex/<int:index>", methods=["POST"])
def predictIndex_route(index):
    # Assuming data_cleaned is defined elsewhere and is accessible
    # Assuming 'student_id' is the name of the column containing student IDs
    # Set the index of the DataFrame to 'student_id'

    
    # Check if index is valid
    if index not in data_cleaned.index:
        return jsonify({"error": "Invalid index"}), 400
    
    # Get the row corresponding to the index
    row = data_cleaned.iloc[[index]]
    
    # Perform feature engineering on the selected row (if needed)
    # This can include any preprocessing steps required for prediction
    
    # For example, you might need to transform the row into the format expected by the model
    
    # Predict for the selected row
    prediction = model.predict(row)
    probality= model.predict_proba(row)

    response = {
    "prediction": prediction.tolist(),
    "probability": probability.tolist()}


    # Return prediction as JSON response
    return jsonify(response)

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=5757)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5757
 * Running on http://192.168.1.107:5757
Press CTRL+C to quit
[2024-03-10 15:26:38,060] ERROR in app: Exception on /predictIndex/7 [POST]
Traceback (most recent call last):
  File "C:\Users\MEHDI\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\flask\app.py", line 1463, in wsgi_app
    response = self.full_dispatch_request()
  File "C:\Users\MEHDI\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\flask\app.py", line 872, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "C:\Users\MEHDI\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\flask\app.py", line 870, in full_dispatch_request
    rv = self.dispatch_request()
  File "C:\Users\MEHDI\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\flask\app.py", line 855, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)  # type: ignore[no-any-return]
  File "C:\Users\MEHDI\AppData\Local\Temp\ipykernel_6788\2939919207.py", line 32, in predictIndex_route
    "probability": probability()}
TypeError: 'numpy.ndarray' object is not callable
127.0.0.1 - - [10/Mar/2024 15:26:38] "POST /predictIndex/7 HTTP/1.1" 500 -

In [ ]:
data_cleaned.head()

,MoyenneGen_i1,NbrJourAbsenceAutorise_i1,NbrUniteAbsenceAutorise_i1,NbrJourAbsenceNonAutorise_i1,NbrUniteAbsenceNonAutorise_i1,MCaRtable_i1,istayssir_i1,international_i1,failure_i1,Classment_class_i1,...,cd_prov_i1_131,cd_prov_i1_171,cd_prov_i1_231,cd_prov_i1_271,cd_prov_i1_451,cd_prov_i1_531,cd_prov_i1_561,cd_prov_i1_591,Average_scientific_subjects_i1,Average_literary_subjects_i1
0,0.453798,0.428571,0.000000,0.000000,0.057416,0,0,0,0.0,0.015760,...,0,0,0,0,0,1,0,0,0.320000,0.445438
1,0.498307,0.527473,0.016598,0.013514,0.007177,0,0,0,0.0,0.027581,...,0,0,1,0,0,0,0,0,0.491167,0.374625
2,0.705370,0.076923,0.033195,0.000000,0.000000,0,0,0,0.0,0.003940,...,0,1,0,0,0,0,0,0,0.639750,0.721375
3,0.363328,0.659341,0.000000,0.000000,0.009569,0,0,0,0.0,0.035461,...,0,0,0,0,0,0,0,0,0.305417,0.290813
4,0.463957,0.472527,0.000000,0.000000,0.057416,0,0,0,0.0,0.024429,...,0,0,0,0,1,0,0,0,0.347167,0.460938

In [ ]:
import pandas as pd

# Assuming data_cleaned is your DataFrame
# If you haven't imported pandas and loaded your data yet, do so accordingly.

# Get the column names
columns = data_cleaned.columns

# Print the column names
print(columns)

In [ ]:
from flask import Flask, render_template, request, jsonify

app = Flask(__name__)

# Dummy data for demonstration
data_cleaned = ...

# Define your prediction function here
def predict(row):
    # Your prediction logic here
    return "Prediction for student: {}".format(row["student_id"])  # Example prediction

# Route to render the HTML page with the data and buttons
@app.route("/")
def index():
    # Pass the DataFrame to the template
    return render_template("index.html", data=data_cleaned)

# Route to handle predictions when the predict button is clicked
@app.route("/predict", methods=["POST"])
def predict_student():
    student_id = request.form["student_id"]  # Get student ID from the form
    row = data_cleaned.loc[data_cleaned["student_id"] == student_id]  # Find the row for the student ID
    prediction = predict(row)  # Call the prediction function
    return jsonify({"prediction": prediction})

if __name__ == "__main__":
    app.run(debug=True)

In [ ]:
from flask import Flask, jsonify, request
import pandas as pd

app = Flask(__name__)

# Load CSV data
data = pd.read_csv("Test.csv")

# Dummy prediction function
def predict_student(student_id):
    # Your prediction logic here
    return {"student_id": student_id, "prediction": "A+"}

# Route to get student data
@app.route("/students")
def get_students():
    return jsonify(data.to_dict(orient="records"))

# Route to predict for a student
@app.route("/predict", methods=["POST"])
def predict():
    student_id = request.json["student_id"]
    prediction = predict_student(student_id)
    return jsonify(prediction)

if __name__ == "__main__":
    app.run(debug=True)

All students data_cleaned

In [ ]:
from flask import Flask, jsonify
from flask_cors import CORS
# Assuming data_cleaned is your preprocessed DataFrame

# Instantiate Flask app
app = Flask(__name__)
CORS(app)
# Define a route to display all data_cleaned
@app.route("/data_cleaned", methods=["GET"])
def display_data_cleaned():
    # Convert DataFrame to JSON
    data_cleaned_json = data_cleaned.to_json(orient="records")

    # Return JSON response
    return data_cleaned_json

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=5757)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5757
 * Running on http://10.24.31.71:5757
Press CTRL+C to quit
127.0.0.1 - - [08/Mar/2024 11:46:55] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:46:57] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:47:00] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:47:24] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:47:26] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:47:29] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:47:53] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:47:55] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:47:56] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:48:31] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:48:33] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:48:35] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:57:40] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:57:55] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:57:56] "GET /data_cleaned HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 11:57:58] "GET /data_cleaned HTTP/1.1" 200 -

In [ ]:
pip install flask-cors

In [ ]:
pip install -U flask-cors

In [ ]:
from flask import Flask, jsonify
from flask_cors import CORS

# Instantiate Flask app
app = Flask(__name__)

# Apply CORS middleware to all routes
CORS(app)

# Define a route to display all data_cleaned
@app.route("/df", methods=["GET"])
def display_data_cleaned():
    # Convert DataFrame to JSON
    df_json = df.to_json(orient="records")

    # Return JSON response
    return df_json

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=5757)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5757
 * Running on http://10.52.31.19:5757
INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5757
 * Running on http://10.52.31.19:5757
Press CTRL+C to quit
INFO:werkzeug:Press CTRL+C to quit
127.0.0.1 - - [08/Mar/2024 00:18:10] "GET /df HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Mar/2024 00:18:10] "GET /df HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 00:18:58] "GET /df HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Mar/2024 00:18:58] "GET /df HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 00:19:05] "GET /df HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Mar/2024 00:19:05] "GET /df HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 00:19:23] "GET /df HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Mar/2024 00:19:23] "GET /df HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 00:19:27] "GET /df HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Mar/2024 00:19:27] "GET /df HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 00:19:28] "GET /df HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Mar/2024 00:19:28] "GET /df HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 00:19:30] "GET /df HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Mar/2024 00:19:30] "GET /df HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 00:24:50] "GET /df HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Mar/2024 00:24:50] "GET /df HTTP/1.1" 200 -
127.0.0.1 - - [08/Mar/2024 00:31:29] "GET /df HTTP/1.1" 200 -
INFO:werkzeug:127.0.0.1 - - [08/Mar/2024 00:31:29] "GET /df HTTP/1.1" 200 -

In [ ]:
import pandas as pd

# Assuming data_cleaned is your DataFrame
# If you haven't imported pandas and loaded your data yet, do so accordingly.

# Get the column names
columns = df.columns

# Print the column names
print(columns)

one student from df(id_eleve) no

In [ ]:
from flask import Flask, jsonify

# Instantiate Flask app
app = Flask(__name__)

# Define a route to display all data_cleaned
@app.route("/data_cleaned/<int:index>", methods=["GET"])
def display_data_cleaned(index):
    df.set_index('id_eleve', inplace=True)
    
    # Check if index is valid
    if index not in df.index:
        return jsonify({"error": "Invalid index"}), 400
    
    # Get the row corresponding to the index
    try:
        row = df.iloc[[index]]
    except IndexError:
        return jsonify({"error": "Index out of bounds"}), 400
    
    # Perform feature engineering on the row (if needed)
    # row_cleaned = feature_engineering(row)
    
    # Convert DataFrame to JSON
    row_json = row.to_json(orient="records")

    # Return JSON response
    return jsonify(row_json)

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=5757)

In [ ]:
data_cleaned.head()

One student from data_cleaned (index)

In [ ]:
from flask import Flask, jsonify

# Assuming data_cleaned is your preprocessed DataFrame

# Instantiate Flask app
app = Flask(__name__)

# Define a route to display all data_cleaned
@app.route("/data_cleaned/<int:index>", methods=["GET"])
def display_data_cleaned(index):
    # df.set_index('id_eleve', inplace=True)
    
    # Check if index is valid
    if index not in data_cleaned.index:
        return jsonify({"error": "Invalid index"}), 400
    
    # Get the row corresponding to the index
    row = data_cleaned.iloc[[index]]
    
    # Convert DataFrame to JSON
    row_json = row.to_json(orient="records")

    # Return JSON response
    return jsonify(row_json)

if __name__ == "__main__":
    app.run(host="0.0.0.0", port=5757)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5757
 * Running on http://192.168.1.107:5757
Press CTRL+C to quit
127.0.0.1 - - [09/Mar/2024 15:04:20] "GET /data_cleaned/18 HTTP/1.1" 200 -

In [28]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.5.3)
Requirement already satisfied: sqlalchemy in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.0.28)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.24.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\MEHDI\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
data_cleaned.head()

,MoyenneGen_i1,NbrJourAbsenceAutorise_i1,NbrUniteAbsenceAutorise_i1,NbrJourAbsenceNonAutorise_i1,NbrUniteAbsenceNonAutorise_i1,MCaRtable_i1,istayssir_i1,international_i1,failure_i1,Classment_class_i1,...,cd_prov_i1_131,cd_prov_i1_171,cd_prov_i1_231,cd_prov_i1_271,cd_prov_i1_451,cd_prov_i1_531,cd_prov_i1_561,cd_prov_i1_591,Average_scientific_subjects_i1,Average_literary_subjects_i1
0,0.453798,0.428571,0.000000,0.000000,0.057416,0,0,0,0.0,0.015760,...,0,0,0,0,0,1,0,0,0.320000,0.445438
1,0.498307,0.527473,0.016598,0.013514,0.007177,0,0,0,0.0,0.027581,...,0,0,1,0,0,0,0,0,0.491167,0.374625
2,0.705370,0.076923,0.033195,0.000000,0.000000,0,0,0,0.0,0.003940,...,0,1,0,0,0,0,0,0,0.639750,0.721375
3,0.363328,0.659341,0.000000,0.000000,0.009569,0,0,0,0.0,0.035461,...,0,0,0,0,0,0,0,0,0.305417,0.290813
4,0.463957,0.472527,0.000000,0.000000,0.057416,0,0,0,0.0,0.024429,...,0,0,0,0,1,0,0,0,0.347167,0.460938

In [ ]:
import pandas as pd

# Suppose data_cleaned is your existing DataFrame

# Ajouter la colonne student_id avec des valeurs auto-incrémentées
data_cleaned['student_id'] = range(1, len(data_cleaned) + 1)

# Définir student_id comme la clé primaire
data_cleaned.set_index('student_id', inplace=True)

# Afficher le DataFrame mis à jour
data_cleaned.head()

,MoyenneGen_i1,NbrJourAbsenceAutorise_i1,NbrUniteAbsenceAutorise_i1,NbrJourAbsenceNonAutorise_i1,NbrUniteAbsenceNonAutorise_i1,MCaRtable_i1,istayssir_i1,international_i1,failure_i1,Classment_class_i1,...,cd_prov_i1_131,cd_prov_i1_171,cd_prov_i1_231,cd_prov_i1_271,cd_prov_i1_451,cd_prov_i1_531,cd_prov_i1_561,cd_prov_i1_591,Average_scientific_subjects_i1,Average_literary_subjects_i1
student_id,,,,,,,,,,,,,,,,,,,,,
1,0.453798,0.428571,0.000000,0.000000,0.057416,0,0,0,0.0,0.015760,...,0,0,0,0,0,1,0,0,0.320000,0.445438
2,0.498307,0.527473,0.016598,0.013514,0.007177,0,0,0,0.0,0.027581,...,0,0,1,0,0,0,0,0,0.491167,0.374625
3,0.705370,0.076923,0.033195,0.000000,0.000000,0,0,0,0.0,0.003940,...,0,1,0,0,0,0,0,0,0.639750,0.721375
4,0.363328,0.659341,0.000000,0.000000,0.009569,0,0,0,0.0,0.035461,...,0,0,0,0,0,0,0,0,0.305417,0.290813
5,0.463957,0.472527,0.000000,0.000000,0.057416,0,0,0,0.0,0.024429,...,0,0,0,0,1,0,0,0,0.347167,0.460938

In [30]:
df.head()

,id_eleve,id_annee,id_classe,MoyenneGen_i1,NbrJourAbsenceAutorise_i1,NbrUniteAbsenceAutorise_i1,NbrJourAbsenceNonAutorise_i1,NbrUniteAbsenceNonAutorise_i1,MCaRtable_i1,istayssir_i1,...,id_genre,datenaiseleve,nationalite,id_handicap,Adress,Préscolarisé,profession_mere,profession_pere,Level,School_period
0,835012,9,D8D16D86-9CF7-455F-906B-FE1DD1A38839,8.38,40.0,0.0,0.0,48.0,0,0,...,1,2002,1,0.0,حي احجر معبد تاونات,0,Femme au foyer,agriculteur,8,42
1,7996730,9,5E610EE0-7805-4C91-94E6-13FCAEE55E59,9.30,49.0,8.0,4.0,6.0,0,0,...,2,2003,1,0.0,شارع بيروت 8 تجزئة رزقية الزهور 2 فاس,1,inconnu,agriculteur,8,5
2,7739476,9,A414DA01-EC06-4A71-BBDF-BFB4185E58D9,13.58,8.0,16.0,0.0,0.0,0,0,...,1,2004,1,0.0,جوهرة الاطلس عمارة 11 الشقة 11 بني ملال,0,inconnu,policier,8,20
3,211400,9,952D34FF-2649-47FB-AA75-E502E4C9A7D1,6.51,61.0,0.0,0.0,8.0,0,0,...,1,2004,1,0.0,جماعة دار ام السلطان,1,Caresser maison,agriculteur,8,22
4,4305350,9,C3E9025F-DAD9-434D-AC9A-1B5F5E5B352F,8.59,44.0,0.0,0.0,48.0,0,0,...,1,2002,1,0.0,مزدو,1,Femme au foyer,agriculteur,8,3

In [31]:
from sqlalchemy import create_engine

# MySQL connection settings
USER = 'root'
PASSWORD = 'root'
HOST = 'localhost:3306'
DATABASE = 'studentsbrute'

# Create engine
engine = create_engine(f'mysql://{USER}:{PASSWORD}@{HOST}/{DATABASE}')

# Export DataFrame to MySQL
df.to_sql('studentsbrute', con=engine, if_exists='replace', index=True)

34579

In [45]:
import pymysql
import pandas as pd
from preprocessing import Feature_engineering1  # Import your feature engineering function
import joblib

# Load the machine learning model
model = joblib.load("model.pkl")

# Function to retrieve a single row from MySQL database based on id_eleve and id_annee
def get_student_data(id_eleve, id_annee):
    # Replace placeholders with your MySQL connection details
    host = 'localhost'  # Hostname or IP address of the MySQL server
    port = 3306  # Port number of the MySQL server
    user = 'root'
    password = 'root'
    database = 'students'
    
    connection = pymysql.connect(host=host,
                                 port=port,
                                 user=user,
                                 password=password,
                                 database=database,
                                 charset='utf8mb4',
                                 cursorclass=pymysql.cursors.DictCursor)

    try:
        with connection.cursor() as cursor:
            # Construct the SQL query to fetch the row
            sql = f"SELECT * FROM studentsbrute WHERE id_eleve = {id_eleve} AND id_annee = {id_annee}"
            cursor.execute(sql)
            row = cursor.fetchone()
            return row
    finally:
        connection.close()

# Function to make predictions for a single row
def predict_single_row(id_eleve, id_annee):
    # Retrieve the row from MySQL database
    row = get_student_data(id_eleve, id_annee)

    # Check if row exists
    if row is None:
        return {"error": "Row not found"}

    # Convert the fetched row to DataFrame
    df_row = pd.DataFrame([row])

    # Perform feature engineering on the single row
    processed_row = Feature_engineering1(df_row)

    # Make predictions
    prediction = model.predict(processed_row)

    return {"prediction": prediction.tolist()}

# Example usage
id_eleve = 835012  # Specify the student ID
id_annee = 9  # Specify the year ID
prediction_result = predict_single_row(id_eleve, id_annee)
print(prediction_result)

ValueError: Number of features of the model must match the input. Model n_features_ is 59 and input n_features is 49

In [34]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
                                              0.0/44.8 kB ? eta -:--:--
     ---------------------------------------- 44.8/44.8 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\MEHDI\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [36]:
from sqlalchemy import create_engine
import pymysql

# MySQL connection settings
USER = 'root'
PASSWORD = 'root'
HOST = 'localhost'
PORT = 3306
DATABASE = 'students'

# Create engine
engine = create_engine(f'mysql+pymysql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}')

try:
    # Set composite primary key in DataFrame
    df.set_index(['id_eleve', 'id_annee'], inplace=True)
    
    # Export DataFrame to MySQL with id_eleve and id_annee as primary keys
    df.to_sql('studentsbrute', con=engine, if_exists='replace', index=True)
    print("DataFrame successfully exported to MySQL.")
except Exception as e:
    print("An error occurred:", e)

DataFrame successfully exported to MySQL.

In [ ]:
pip install flask-cors

Requirement already satisfied: flask-cors in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (4.0.0)
Requirement already satisfied: Flask>=0.9 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from flask-cors) (3.0.2)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask>=0.9->flask-cors) (3.0.1)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask>=0.9->flask-cors) (3.1.2)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask>=0.9->flask-cors) (2.1.2)
Requirement already satisfied: click>=8.1.3 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask>=0.9->flask-cors) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask>=0.9->flask-cors) (1.7.0)
Requirement already satisfied: colorama in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from click>=8.1.3->Flask>=0.9->flask-cors) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Jinja2>=3.1.2->Flask>=0.9->flask-cors) (2.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\MEHDI\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [19]:
from flask import Flask, jsonify, request
from flask_sqlalchemy import SQLAlchemy
from flask_cors import CORS

app = Flask(__name__)
CORS(app)  

# Configuration for SQLAlchemy
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql://root:root@localhost:3306/students'
# Suppress warnings about tracking modifications
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
# Initialize SQLAlchemy instance
db = SQLAlchemy(app)

# Define SQLAlchemy model
class Student(db.Model):
    __tablename__ = 'students'  # Name of the database table

    student_id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    MoyenneGen_i1 = db.Column(db.Float)
    NbrJourAbsenceAutorise_i1 = db.Column(db.Float)
    NbrUniteAbsenceAutorise_i1 = db.Column(db.Float)
    NbrJourAbsenceNonAutorise_i1 = db.Column(db.Float)
    NbrUniteAbsenceNonAutorise_i1 = db.Column(db.Float)
    MCaRtable_i1 = db.Column(db.Integer)
    istayssir_i1 = db.Column(db.Integer)

    def __repr__(self):
        return f"<Student(id={self.id})>"

    # Implement the to_dict method to convert model instance to dictionary
    def to_dict(self):
        return {
            'student_id': self.student_id,
            'MoyenneGen_i1': self.MoyenneGen_i1,
            'NbrJourAbsenceAutorise_i1': self.NbrJourAbsenceAutorise_i1,
            'NbrUniteAbsenceAutorise_i1': self.NbrUniteAbsenceAutorise_i1,
            'NbrJourAbsenceNonAutorise_i1': self.NbrJourAbsenceNonAutorise_i1,
            'NbrUniteAbsenceNonAutorise_i1': self.NbrUniteAbsenceNonAutorise_i1,
            'MCaRtable_i1': self.MCaRtable_i1,
            'istayssir_i1': self.istayssir_i1,
        }

# Define route to fetch student data
@app.route('/data', methods=['GET'])
def get_data():
    try:
        # Query all student data
        data = Student.query.all()
        # Convert data to JSON format
        json_data = [item.to_dict() for item in data]
        return jsonify(json_data)
    except Exception as e:
        # Handle any exceptions gracefully
        return {'error': str(e)}

# Define route for making predictions based on index
@app.route("/predictIndex/<int:index>", methods=["POST"])
def predictIndex_route(index):
    # Assuming data_cleaned is defined elsewhere and is accessible
    
    # Check if index is valid
    if index < 0:
        return jsonify({"error": "Invalid index"}), 400
    
    # Check if index is within the range of data_cleaned
    if index >= len(data_cleaned):
        return jsonify({"error": "Index out of range"}), 400
    
    # Get the row corresponding to the index
    row = data_cleaned.iloc[[index]]
    
    # Predict for the selected row
    prediction = model.predict(row)
    
    # Return prediction as JSON response
    return jsonify({"prediction": prediction.tolist()})

if __name__ == '__main__':
    app.run(host="0.0.0.0", port=5757)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5757
 * Running on http://10.50.31.159:5757
Press CTRL+C to quit
127.0.0.1 - - [11/Mar/2024 12:38:01] "GET /data HTTP/1.1" 200 -
127.0.0.1 - - [11/Mar/2024 12:38:04] "GET /data HTTP/1.1" 200 -
127.0.0.1 - - [11/Mar/2024 12:44:53] "OPTIONS /predictStudent/9 HTTP/1.1" 404 -

In [ ]:
pip install Flask Flask-SQLAlchemy

Requirement already satisfied: Flask in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: Flask-SQLAlchemy in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.1.1)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask) (3.0.1)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask) (3.1.2)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask) (2.1.2)
Requirement already satisfied: click>=8.1.3 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask) (1.7.0)
Requirement already satisfied: sqlalchemy>=2.0.16 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Flask-SQLAlchemy) (2.0.28)
Requirement already satisfied: colorama in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from click>=8.1.3->Flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from Jinja2>=3.1.2->Flask) (2.1.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy>=2.0.16->Flask-SQLAlchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mehdi\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy>=2.0.16->Flask-SQLAlchemy) (3.0.3)

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\MEHDI\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [39]:
import pandas as pd

# Assuming you have created your DataFrame df

pd.set_option('display.max_columns', None)  # Set max_columns to None to show all
df

,,id_classe,MoyenneGen_i1,NbrJourAbsenceAutorise_i1,NbrUniteAbsenceAutorise_i1,NbrJourAbsenceNonAutorise_i1,NbrUniteAbsenceNonAutorise_i1,MCaRtable_i1,istayssir_i1,White_year_i1,target_i1,international_i1,Level_i1,failure_i1,Classment_class_i1,Nb_class_failure_i1,Nb_class_dropout_i1,nbr_eleves_i1,nbr_filles_i1,MoyenneClasse_i1,Multiclass_i1,CD_REG_i1,cd_prov_i1,DO_ETAB_i1,Internat_i1,Exist_Internet_i1,AdresseL_i1,INDHcom_i1,INDHquart_i1,ProgrammeTissir_i1,Coefficients_CC_11_i1,Coefficients_CC_12_i1,Coefficients_CC_18_i1,Coefficients_CC_19_i1,Coefficients_CC_20_i1,Coefficients_CC_23_i1,Coefficients_CC_24_i1,Coefficients_CC_26_i1,NoteCC_11_i1,NoteCC_12_i1,NoteCC_18_i1,NoteCC_19_i1,NoteCC_20_i1,NoteCC_23_i1,NoteCC_24_i1,NoteCC_26_i1,id_genre,datenaiseleve,nationalite,id_handicap,Adress,Préscolarisé,profession_mere,profession_pere,Level,School_period
id_eleve,id_annee,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
835012,9,D8D16D86-9CF7-455F-906B-FE1DD1A38839,8.38,40.0,0.0,0.0,48.0,0,0,0,1,0,8,0,21,10,3,32.0,16.0,9.61,1.0,3,531,1974,0,1,HAY ALIDARI MUNICIPALITE TAOUNATE TAOUNATE,0,0,1,5.0,5.0,3.0,5.0,3.0,2.0,2.0,2.0,11.970,6.600,8.815,5.500,7.950,5.750,8.250,12.000,1,2002,1,0.0,حي احجر معبد تاونات,0,Femme au foyer,agriculteur,8,42
7996730,9,5E610EE0-7805-4C91-94E6-13FCAEE55E59,9.30,49.0,8.0,4.0,6.0,0,0,0,0,0,8,0,36,0,2,46.0,23.0,11.29,1.0,3,231,2011,0,0,boulevard Ismailia montfleurie II,0,0,1,5.0,5.0,3.0,5.0,3.0,2.0,2.0,2.0,12.310,6.450,7.625,10.000,10.720,8.750,3.585,13.000,2,2003,1,0.0,شارع بيروت 8 تجزئة رزقية الزهور 2 فاس,1,inconnu,agriculteur,8,5
7739476,9,A414DA01-EC06-4A71-BBDF-BFB4185E58D9,13.58,8.0,16.0,0.0,0.0,0,0,0,0,0,8,0,6,14,7,39.0,20.0,9.20,1.0,3,171,1996,1,0,AIT YAAZEM,0,0,1,5.0,5.0,3.0,5.0,3.0,2.0,2.0,2.0,10.955,15.300,14.625,11.165,14.780,12.440,16.830,13.500,1,2004,1,0.0,جوهرة الاطلس عمارة 11 الشقة 11 بني ملال,0,inconnu,policier,8,20
211400,9,952D34FF-2649-47FB-AA75-E502E4C9A7D1,6.51,61.0,0.0,0.0,8.0,0,0,0,1,0,8,0,46,6,2,48.0,25.0,10.27,1.0,3,61,1994,0,0,OUJAH AROSS COMMUNE MEKNES,0,0,1,5.0,5.0,3.0,5.0,3.0,2.0,2.0,2.0,7.655,5.050,6.560,4.915,6.280,7.130,4.000,13.665,1,2004,1,0.0,جماعة دار ام السلطان,1,Caresser maison,agriculteur,8,22
4305350,9,C3E9025F-DAD9-434D-AC9A-1B5F5E5B352F,8.59,44.0,0.0,0.0,48.0,0,0,0,1,0,8,0,32,10,9,44.0,16.0,10.43,1.0,3,451,2013,0,0,Douar sanhaja COMMUNE RURALE sidi youssef,0,0,1,5.0,5.0,3.0,5.0,3.0,2.0,2.0,2.0,12.610,6.350,9.000,5.830,8.000,7.000,8.915,12.665,1,2002,1,0.0,مزدو,1,Femme au foyer,agriculteur,8,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3091777,12,AA3944A7-8951-4159-B651-4383FDD52464,11.30,16.0,6.0,0.0,0.0,0,1,0,0,0,8,0,8,6,4,32.0,14.0,9.66,1.0,3,561,1964,1,1,AKNOUL CENTRE,0,0,1,5.0,5.0,3.0,5.0,3.0,2.0,2.0,2.0,10.690,10.100,7.600,13.940,10.620,11.825,14.420,13.690,2,2007,1,0.0,دوار احموتن اكنول,1,sans,agriculteur,8,55
699797,12,6EF31705-0F2E-4633-9C21-4CBFD495464E,8.18,70.0,0.0,16.0,0.0,1,0,0,1,0,8,0,35,6,2,37.0,16.0,10.83,1.0,3,531,1989,1,1,COMMUNE AIN AICHA TISSA TAOUNATE,0,0,1,5.0,5.0,3.0,5.0,3.0,2.0,2.0,2.0,10.555,5.500,9.730,2.000,8.410,8.310,12.750,11.275,2,2006,1,0.0,دوار التوانسة عين عائشة تاونات,1,Femme au foyer,agriculteur,8,30
1039782,12,CB6F18F9-D1BC-4C8A-BA1C-260954BFEFE0,8.48,64.0,0.0,0.0,20.0,1,0,0,1,0,8,0,32,3,2,34.0,17.0,11.56,1.0,3,451,2014,0,0,Centre commune Tazouta,0,0,1,5.0,5.0,3.0,5.0,3.0,2.0,2.0,2.0,8.690,8.255,10.775,3.970,6.275,9.925,6.000,15.585,1,2004,1,0.0,دوار آيت بلعيد تازوطة,1,sans,agriculteur,8,5
4987770,12,4D667510-01A8-4BD3-9D3E-5D080A918696,14.28,13.0,0.0,0.0,0.0,0,0,0,0,0,8,0,6,2,3,40.0,21.0,11.33,1.0,3,271,2002,1,0,SOUK EL HAD COMMUNE OUED IFRANE,0,0,1,5.0,5.0,3.0,5.0,3.0,2.0,2.0,2.0,13.250,9.830,12.450,18.125,15.060,14.630,16.250,16.540,2,2006,1,0.0,مركز واد افران,1,Femme au foyer,sans,8,17
8459603,12,C277BF06-D5C8-4C52-8795-6170971B6F92,10.18,68.0,0.0,2.0,0.0,0,0,0,0,0,8,1,35,3,3,41.0,19.0,11.78,1.0,3,231,1993,0,0,BEN SOUDA FES,0,0,1,5.0,5.0,3.0,5.0,3.0,2.0,2.0,2.0,12.500,9.760,9.000,6.470,7.690,7.475,11.615,16.000,1,2004,1,0.0,unknown,1,inconnu,Facteur,8,26

right code

In [3]:
from flask import Flask, jsonify, request
from flask_sqlalchemy import SQLAlchemy
from flask_cors import CORS

app = Flask(__name__)
CORS(app, resources={r"/*": {"origins": "*"}})

# Configuration for SQLAlchemy
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql://root:root@localhost:3306/students'
# Suppress warnings about tracking modifications
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
# Initialize SQLAlchemy instance
db = SQLAlchemy(app)

# Define SQLAlchemy model
class StudentBrute(db.Model):
    __tablename__ = 'studentsbrute'

    id_eleve = db.Column(db.Integer, primary_key=True, autoincrement=False)
    id_annee = db.Column(db.Integer, primary_key=True, autoincrement=False)
    id_classe = db.Column(db.Integer)
    MoyenneGen_i1 = db.Column(db.Float)
    NbrJourAbsenceAutorise_i1 = db.Column(db.Float)
    NbrUniteAbsenceAutorise_i1 = db.Column(db.Float)
    NbrJourAbsenceNonAutorise_i1 = db.Column(db.Float)
    NbrUniteAbsenceNonAutorise_i1 = db.Column(db.Float)
    MCaRtable_i1 = db.Column(db.Integer)
    istayssir_i1 = db.Column(db.Integer)
    White_year_i1 = db.Column(db.Integer)
    target_i1 = db.Column(db.Float)
    international_i1 = db.Column(db.Integer)
    Level_i1 = db.Column(db.Integer)
    failure_i1 = db.Column(db.Integer)
    Classment_class_i1 = db.Column(db.Integer)
    Nb_class_failure_i1 = db.Column(db.Integer)
    Nb_class_dropout_i1 = db.Column(db.Integer)
    nbr_eleves_i1 = db.Column(db.Integer)
    nbr_filles_i1 = db.Column(db.Integer)
    MoyenneClasse_i1 = db.Column(db.Float)
    Multiclass_i1 = db.Column(db.Integer)
    CD_REG_i1 = db.Column(db.Integer)
    cd_prov_i1 = db.Column(db.Integer)
    DO_ETAB_i1 = db.Column(db.Integer)
    Internat_i1 = db.Column(db.Integer)
    Exist_Internet_i1 = db.Column(db.Integer)
    AdresseL_i1 = db.Column(db.String(50))
    INDHcom_i1 = db.Column(db.Integer)
    INDHquart_i1 = db.Column(db.Integer)
    ProgrammeTissir_i1 = db.Column(db.Integer)
    Coefficients_CC_11_i1 = db.Column(db.Float)
    Coefficients_CC_12_i1 = db.Column(db.Float)
    Coefficients_CC_18_i1 = db.Column(db.Float)
    Coefficients_CC_19_i1 = db.Column(db.Float)
    Coefficients_CC_20_i1 = db.Column(db.Float)
    Coefficients_CC_23_i1 = db.Column(db.Float)
    Coefficients_CC_24_i1 = db.Column(db.Float)
    Coefficients_CC_26_i1 = db.Column(db.Float)
    NoteCC_11_i1 = db.Column(db.Float)
    NoteCC_12_i1 = db.Column(db.Float)
    NoteCC_18_i1 = db.Column(db.Float)
    NoteCC_19_i1 = db.Column(db.Float)
    NoteCC_20_i1 = db.Column(db.Float)
    NoteCC_23_i1 = db.Column(db.Float)
    NoteCC_24_i1 = db.Column(db.Float)
    NoteCC_26_i1 = db.Column(db.Float)
    id_genre = db.Column(db.Integer)
    datenaiseleve = db.Column(db.Date)
    nationalite = db.Column(db.String(50))
    id_handicap = db.Column(db.Integer)
    Adress = db.Column(db.String(50))
    Préscolarisé = db.Column(db.Integer)
    profession_mere = db.Column(db.String(50))
    profession_pere = db.Column(db.String(50))
    Level = db.Column(db.String(50))
    School_period = db.Column(db.String(50))


    def __repr__(self):
        return f"<StudentBrute(id_eleve={self.id_eleve}, id_annee={self.id_annee})>"

      

    def to_dict(self):
        return {
            'id_eleve': self.id_eleve,
            'id_annee': self.id_annee,
            'id_classe': self.id_classe,
            'MoyenneGen_i1': self.MoyenneGen_i1,
            'NbrJourAbsenceAutorise_i1': self.NbrJourAbsenceAutorise_i1,
            'NbrUniteAbsenceAutorise_i1': self.NbrUniteAbsenceAutorise_i1,
            'NbrJourAbsenceNonAutorise_i1': self.NbrJourAbsenceNonAutorise_i1,
            'NbrUniteAbsenceNonAutorise_i1': self.NbrUniteAbsenceNonAutorise_i1,
            'MCaRtable_i1': self.MCaRtable_i1,
            'istayssir_i1': self.istayssir_i1,
            'White_year_i1': self.White_year_i1,
            'target_i1': self.target_i1,
            'international_i1': self.international_i1,
            'Level_i1': self.Level_i1,
            'failure_i1': self.failure_i1,
            'Classment_class_i1': self.Classment_class_i1,
            'Nb_class_failure_i1': self.Nb_class_failure_i1,
            'Nb_class_dropout_i1': self.Nb_class_dropout_i1,
            'nbr_eleves_i1': self.nbr_eleves_i1,
            'nbr_filles_i1': self.nbr_filles_i1,
            'MoyenneClasse_i1': self.MoyenneClasse_i1,
            'Multiclass_i1': self.Multiclass_i1,
            'CD_REG_i1': self.CD_REG_i1,
            'cd_prov_i1': self.cd_prov_i1,
            'DO_ETAB_i1': self.DO_ETAB_i1,
            'Internat_i1': self.Internat_i1,
            'Exist_Internet_i1': self.Exist_Internet_i1,
            'AdresseL_i1': self.AdresseL_i1,
            'INDHcom_i1': self.INDHcom_i1,
            'INDHquart_i1': self.INDHquart_i1,
            'ProgrammeTissir_i1': self.ProgrammeTissir_i1,
            'Coefficients_CC_11_i1': self.Coefficients_CC_11_i1,
            'Coefficients_CC_12_i1': self.Coefficients_CC_12_i1,
            'Coefficients_CC_18_i1': self.Coefficients_CC_18_i1,
            'Coefficients_CC_19_i1': self.Coefficients_CC_19_i1,
            'Coefficients_CC_20_i1': self.Coefficients_CC_20_i1,
            'Coefficients_CC_23_i1': self.Coefficients_CC_23_i1,
            'Coefficients_CC_24_i1': self.Coefficients_CC_24_i1,
            'Coefficients_CC_26_i1': self.Coefficients_CC_26_i1,
            'NoteCC_11_i1': self.NoteCC_11_i1,
            'NoteCC_12_i1': self.NoteCC_12_i1,
            'NoteCC_18_i1': self.NoteCC_18_i1,
            'NoteCC_19_i1': self.NoteCC_19_i1,
            'NoteCC_20_i1': self.NoteCC_20_i1,
            'NoteCC_23_i1': self.NoteCC_23_i1,
            'NoteCC_24_i1': self.NoteCC_24_i1,
            'NoteCC_26_i1': self.NoteCC_26_i1,
            'id_genre': self.id_genre,
            'datenaiseleve': self.datenaiseleve,
            'nationalite': self.nationalite,
            'id_handicap': self.id_handicap,
            'Adress': self.Adress,
            'Préscolarisé': self.Préscolarisé,
            'profession_mere': self.profession_mere,
            'profession_pere': self.profession_pere,
            'Level': self.Level,
            'School_period': self.School_period
        }
class Student(db.Model):
    __tablename__ = 'students'
    student_id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    MoyenneGen_i1 = db.Column(db.Float)
    NbrJourAbsenceAutorise_i1 = db.Column(db.Float)
    NbrUniteAbsenceAutorise_i1 = db.Column(db.Float)
    NbrJourAbsenceNonAutorise_i1 = db.Column(db.Float)
    NbrUniteAbsenceNonAutorise_i1 = db.Column(db.Float)
    MCaRtable_i1 = db.Column(db.Integer)
    istayssir_i1 = db.Column(db.Integer)
    international_i1 = db.Column(db.Integer)
    failure_i1 = db.Column(db.Integer)
    Classment_class_i1 = db.Column(db.Integer)
    Nb_class_failure_i1 = db.Column(db.Integer)
    Nb_class_dropout_i1 = db.Column(db.Integer)
    nbr_eleves_i1 = db.Column(db.Integer)
    nbr_filles_i1 = db.Column(db.Integer)
    MoyenneClasse_i1 = db.Column(db.Float)
    Multiclass_i1 = db.Column(db.Integer)
    Internat_i1 = db.Column(db.Integer)
    Exist_Internet_i1 = db.Column(db.Integer)
    INDHcom_i1 = db.Column(db.Integer)
    INDHquart_i1 = db.Column(db.Integer)
    ProgrammeTissir_i1 = db.Column(db.Integer)
    Coefficients_CC_11_i1 = db.Column(db.Float)
    Coefficients_CC_12_i1 = db.Column(db.Float)
    Coefficients_CC_18_i1 = db.Column(db.Float)
    Coefficients_CC_19_i1 = db.Column(db.Float)
    Coefficients_CC_20_i1 = db.Column(db.Float)
    Coefficients_CC_23_i1 = db.Column(db.Float)
    Coefficients_CC_24_i1 = db.Column(db.Float)
    Coefficients_CC_26_i1 = db.Column(db.Float)
    NoteCC_11_i1 = db.Column(db.Float)
    NoteCC_12_i1 = db.Column(db.Float)
    NoteCC_18_i1 = db.Column(db.Float)
    NoteCC_19_i1 = db.Column(db.Float)
    NoteCC_20_i1 = db.Column(db.Float)
    NoteCC_23_i1 = db.Column(db.Float)
    NoteCC_24_i1 = db.Column(db.Float)
    NoteCC_26_i1 = db.Column(db.Float)
    id_genre = db.Column(db.Integer)
    nationalite = db.Column(db.String(50))
    id_handicap = db.Column(db.Integer)
    Préscolarisé = db.Column(db.Integer)
    profession_mere = db.Column(db.String(50))
    profession_pere = db.Column(db.String(50))
    School_period = db.Column(db.String(50))
    age = db.Column(db.Integer)
    target_i1_0 = db.Column(db.Float)
    target_i1_1 = db.Column(db.Float)
    target_i1_2 = db.Column(db.Float)
    cd_prov_i1_61 = db.Column(db.Integer)
    cd_prov_i1_131 = db.Column(db.Integer)
    cd_prov_i1_171 = db.Column(db.Integer)
    cd_prov_i1_231 = db.Column(db.Integer)
    cd_prov_i1_271 = db.Column(db.Integer)
    cd_prov_i1_451 = db.Column(db.Integer)
    cd_prov_i1_531 = db.Column(db.Integer)
    cd_prov_i1_561 = db.Column(db.Integer)
    cd_prov_i1_591 = db.Column(db.Integer)
    Average_scientific_subjects_i1 = db.Column(db.Float)
    Average_literary_subjects_i1 = db.Column(db.Float)

    def __repr__(self):
        return f"<Student(student_id={self.student_id})>"

    # Implement the to_dict method to convert model instance to dictionary
    def to_dict(self):
        return {
            'student_id': self.student_id,
            'MoyenneGen_i1': self.MoyenneGen_i1,
            'NbrJourAbsenceAutorise_i1': self.NbrJourAbsenceAutorise_i1,
            'NbrUniteAbsenceAutorise_i1': self.NbrUniteAbsenceAutorise_i1,
            'NbrJourAbsenceNonAutorise_i1': self.NbrJourAbsenceNonAutorise_i1,
            'NbrUniteAbsenceNonAutorise_i1': self.NbrUniteAbsenceNonAutorise_i1,
            'MCaRtable_i1': self.MCaRtable_i1,
            'istayssir_i1': self.istayssir_i1,
            'international_i1': self.international_i1,
            'failure_i1': self.failure_i1,
            'Classment_class_i1': self.Classment_class_i1,
            'Nb_class_failure_i1': self.Nb_class_failure_i1,
            'Nb_class_dropout_i1': self.Nb_class_dropout_i1,
            'nbr_eleves_i1': self.nbr_eleves_i1,
            'nbr_filles_i1': self.nbr_filles_i1,
            'MoyenneClasse_i1': self.MoyenneClasse_i1,
            'Multiclass_i1': self.Multiclass_i1,
            'Internat_i1': self.Internat_i1,
            'Exist_Internet_i1': self.Exist_Internet_i1,
            'INDHcom_i1': self.INDHcom_i1,
            'INDHquart_i1': self.INDHquart_i1,
            'ProgrammeTissir_i1': self.ProgrammeTissir_i1,
            'Coefficients_CC_11_i1': self.Coefficients_CC_11_i1,
            'Coefficients_CC_12_i1': self.Coefficients_CC_12_i1,
            'Coefficients_CC_18_i1': self.Coefficients_CC_18_i1,
            'Coefficients_CC_19_i1': self.Coefficients_CC_19_i1,
            'Coefficients_CC_20_i1': self.Coefficients_CC_20_i1,
            'Coefficients_CC_23_i1': self.Coefficients_CC_23_i1,
            'Coefficients_CC_24_i1': self.Coefficients_CC_24_i1,
            'Coefficients_CC_26_i1': self.Coefficients_CC_26_i1,
            'NoteCC_11_i1': self.NoteCC_11_i1,
            'NoteCC_12_i1': self.NoteCC_12_i1,
            'NoteCC_18_i1': self.NoteCC_18_i1,
            'NoteCC_19_i1': self.NoteCC_19_i1,
            'NoteCC_20_i1': self.NoteCC_20_i1,
            'NoteCC_23_i1': self.NoteCC_23_i1,
            'NoteCC_24_i1': self.NoteCC_24_i1,
            'NoteCC_26_i1': self.NoteCC_26_i1,
            'id_genre': self.id_genre,
            'nationalite': self.nationalite,
            'id_handicap': self.id_handicap,
            'Préscolarisé': self.Préscolarisé,
            'profession_mere': self.profession_mere,
            'profession_pere': self.profession_pere,
            'School_period': self.School_period,
            'age': self.age,
            'target_i1_0': self.target_i1_0,
            'target_i1_1': self.target_i1_1,
            'target_i1_2': self.target_i1_2,
            'cd_prov_i1_61': self.cd_prov_i1_61,
            'cd_prov_i1_131': self.cd_prov_i1_131,
            'cd_prov_i1_171': self.cd_prov_i1_171,
            'cd_prov_i1_231': self.cd_prov_i1_231,
            'cd_prov_i1_271': self.cd_prov_i1_271,
            'cd_prov_i1_451': self.cd_prov_i1_451,
            'cd_prov_i1_531': self.cd_prov_i1_531,
            'cd_prov_i1_561': self.cd_prov_i1_561,
            'cd_prov_i1_591': self.cd_prov_i1_591,
            'Average_scientific_subjects_i1': self.Average_scientific_subjects_i1,
            'Average_literary_subjects_i1': self.Average_literary_subjects_i1,
        }

# Define route to fetch student data
@app.route('/data', methods=['GET'])
def get_data():
    try:
        # Query all student data
        data = StudentBrute.query.all()
        # Convert data to JSON format
        json_data = [item.to_dict() for item in data]
        return jsonify(json_data)
    except Exception as e:
        # Handle any exceptions gracefully
        return {'error': str(e)}

# Define route for making predictions based on student ID
@app.route("/predictStudent/<int:student_id>", methods=["POST"])
def predict_student_route(student_id):
    if request.method == "OPTIONS":
        # Respond to OPTIONS requests with appropriate CORS headers
        headers = {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'POST',
            'Access-Control-Allow-Headers': 'Content-Type',
            'Access-Control-Max-Age': '3600'
        }
        return ('', 204, headers)
    
    try:
        # Query student data based on student ID
        student = StudentBrute.query.filter_by(id_annee==id_annee and id_eleve==id_eleve).first()
        if student is None:
            return jsonify({"error": "Student not found"}), 404
        
        # Prepare the data for prediction as a 2D array
        features = [
            [
                student.MoyenneGen_i1, student.NbrJourAbsenceAutorise_i1, student.NbrUniteAbsenceAutorise_i1,
                student.NbrJourAbsenceNonAutorise_i1, student.NbrUniteAbsenceNonAutorise_i1, student.MCaRtable_i1,
                student.istayssir_i1, student.international_i1, student.failure_i1, student.Classment_class_i1,
                student.Nb_class_failure_i1, student.Nb_class_dropout_i1, student.nbr_eleves_i1,
                student.nbr_filles_i1, student.MoyenneClasse_i1, student.Multiclass_i1, student.Internat_i1,
                student.Exist_Internet_i1, student.INDHcom_i1, student.INDHquart_i1, student.ProgrammeTissir_i1,
                student.Coefficients_CC_11_i1, student.Coefficients_CC_12_i1, student.Coefficients_CC_18_i1,
                student.Coefficients_CC_19_i1, student.Coefficients_CC_20_i1, student.Coefficients_CC_23_i1,
                student.Coefficients_CC_24_i1, student.Coefficients_CC_26_i1, student.NoteCC_11_i1,
                student.NoteCC_12_i1, student.NoteCC_18_i1, student.NoteCC_19_i1, student.NoteCC_20_i1,
                student.NoteCC_23_i1, student.NoteCC_24_i1, student.NoteCC_26_i1, student.id_genre,
                student.nationalite, student.id_handicap, student.Préscolarisé, student.profession_mere,
                student.profession_pere, student.School_period, student.age, student.target_i1_0,
                student.target_i1_1, student.target_i1_2, student.cd_prov_i1_61, student.cd_prov_i1_131,
                student.cd_prov_i1_171, student.cd_prov_i1_231, student.cd_prov_i1_271, student.cd_prov_i1_451,
                student.cd_prov_i1_531, student.cd_prov_i1_561, student.cd_prov_i1_591,
                student.Average_scientific_subjects_i1, student.Average_literary_subjects_i1
            ]
        ]
        
        
        prediction = model.predict(features)
        
        # Convert ndarray to list for JSON serialization
        prediction_list = prediction.tolist()

        prediction_label = "At RISK" if prediction_list[0] == 1 else "Not At RISK"

        probability= model.predict_proba(features)
        predicted_probability = probability[0][1]
        response = {"prediction": prediction_label,"probability": predicted_probability.tolist()}
        
        return response
    except Exception as e:
        return {'error': str(e)}

if __name__ == '__main__':
    app.run(host="0.0.0.0", port=5757)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5757
 * Running on http://10.50.31.12:5757
Press CTRL+C to quit
127.0.0.1 - - [15/Mar/2024 12:19:33] "POST /predictStudent/7739476/1 HTTP/1.1" 404 -

In [ ]:
columns = data_cleaned.columns

# Print the column names
print(columns)

Index(['MoyenneGen_i1', 'NbrJourAbsenceAutorise_i1',
       'NbrUniteAbsenceAutorise_i1', 'NbrJourAbsenceNonAutorise_i1',
       'NbrUniteAbsenceNonAutorise_i1', 'MCaRtable_i1', 'istayssir_i1',
       'international_i1', 'failure_i1', 'Classment_class_i1',
       'Nb_class_failure_i1', 'Nb_class_dropout_i1', 'nbr_eleves_i1',
       'nbr_filles_i1', 'MoyenneClasse_i1', 'Multiclass_i1', 'Internat_i1',
       'Exist_Internet_i1', 'INDHcom_i1', 'INDHquart_i1', 'ProgrammeTissir_i1',
       'Coefficients_CC_11_i1', 'Coefficients_CC_12_i1',
       'Coefficients_CC_18_i1', 'Coefficients_CC_19_i1',
       'Coefficients_CC_20_i1', 'Coefficients_CC_23_i1',
       'Coefficients_CC_24_i1', 'Coefficients_CC_26_i1', 'NoteCC_11_i1',
       'NoteCC_12_i1', 'NoteCC_18_i1', 'NoteCC_19_i1', 'NoteCC_20_i1',
       'NoteCC_23_i1', 'NoteCC_24_i1', 'NoteCC_26_i1', 'id_genre',
       'nationalite', 'id_handicap', 'Préscolarisé', 'profession_mere',
       'profession_pere', 'School_period', 'age', 'target_i1_0', 'target_i1_1',
       'target_i1_2', 'cd_prov_i1_61', 'cd_prov_i1_131', 'cd_prov_i1_171',
       'cd_prov_i1_231', 'cd_prov_i1_271', 'cd_prov_i1_451', 'cd_prov_i1_531',
       'cd_prov_i1_561', 'cd_prov_i1_591', 'Average_scientific_subjects_i1',
       'Average_literary_subjects_i1'],
      dtype='object')

In [ ]:
from flask import Flask, render_template
from flask_sqlalchemy import SQLAlchemy

# Initialize Flask app
app = Flask(__name__)

# Set the SQLAlchemy database URI
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql://root:root@localhost/students'

# Initialize SQLAlchemy
db = SQLAlchemy(app)

# Define SQLAlchemy model
class Student(db.Model):
    __tablename__ = 'students'  # Name of the database table

    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    MoyenneGen_i1 = db.Column(db.Float)
    # Define other columns here

    def __repr__(self):
        return f"<Student(id={self.id})>"  # Add other columns as needed

# Route to display the table
@app.route('/display')
def display_table():
    try:
        # Manually execute a SELECT query to fetch all student data
        result = db.engine.execute('SELECT * FROM students')
        # Fetch all rows returned by the query
        students = result.fetchall()
        # Close the result object
        result.close()
        # Pass the data to the template for rendering
        return render_template('table.html', students=students)
    except Exception as e:
        return str(e)

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
INFO:werkzeug:Press CTRL+C to quit
 * Restarting with stat
INFO:werkzeug: * Restarting with stat

SystemExit: 1

In [ ]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

# Initialize Flask app
app = Flask(__name__)

# Set the SQLAlchemy database URI
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql://root:root@localhost/students'

# Initialize SQLAlchemy
db = SQLAlchemy(app)

# Define SQLAlchemy model
class Student(db.Model):
    __tablename__ = 'students'  # Name of the database table

    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    MoyenneGen_i1 = db.Column(db.Float)
    NbrJourAbsenceAutorise_i1 = db.Column(db.Float)
    NbrUniteAbsenceAutorise_i1 = db.Column(db.Float)
    NbrJourAbsenceNonAutorise_i1 = db.Column(db.Float)
    NbrUniteAbsenceNonAutorise_i1 = db.Column(db.Float)
    MCaRtable_i1 = db.Column(db.Integer)
    istayssir_i1 = db.Column(db.Integer)
    White_year_i1 = db.Column(db.Integer)
    target_i1 = db.Column(db.Integer)
    international_i1 = db.Column(db.Integer)
    Level_i1 = db.Column(db.Integer)
    failure_i1 = db.Column(db.Float)
    Classment_class_i1 = db.Column(db.Float)
    Nb_class_failure_i1 = db.Column(db.Float)
    Nb_class_dropout_i1 = db.Column(db.Float)
    nbr_eleves_i1 = db.Column(db.Float)
    nbr_filles_i1 = db.Column(db.Float)
    MoyenneClasse_i1 = db.Column(db.Float)
    Multiclass_i1 = db.Column(db.Float)
    CD_REG_i1 = db.Column(db.Integer)
    cd_prov_i1 = db.Column(db.Integer)
    DO_ETAB_i1 = db.Column(db.Integer)
    Internat_i1 = db.Column(db.Integer)
    Exist_Internet_i1 = db.Column(db.Integer)
    AdresseL_i1 = db.Column(db.Integer)
    INDHcom_i1 = db.Column(db.Integer)
    INDHquart_i1 = db.Column(db.Integer)
    ProgrammeTissir_i1 = db.Column(db.Integer)
    Coefficients_CC_11_i1 = db.Column(db.Float)
    Coefficients_CC_12_i1 = db.Column(db.Float)
    Coefficients_CC_18_i1 = db.Column(db.Float)
    Coefficients_CC_19_i1 = db.Column(db.Float)
    Coefficients_CC_20_i1 = db.Column(db.Float)
    Coefficients_CC_23_i1 = db.Column(db.Float)
    Coefficients_CC_24_i1 = db.Column(db.Float)
    Coefficients_CC_26_i1 = db.Column(db.Float)
    NoteCC_11_i1 = db.Column(db.Float)
    NoteCC_12_i1 = db.Column(db.Float)
    NoteCC_18_i1 = db.Column(db.Float)
    NoteCC_19_i1 = db.Column(db.Float)
    NoteCC_20_i1 = db.Column(db.Float)
    NoteCC_23_i1 = db.Column(db.Float)
    NoteCC_24_i1 = db.Column(db.Float)
    NoteCC_26_i1 = db.Column(db.Float)
    id_genre = db.Column(db.Integer)
    datenaiseleve = db.Column(db.Integer)
    nationalite = db.Column(db.Integer)
    id_handicap = db.Column(db.Float)
    Adress = db.Column(db.String(255))
    Préscolarisé = db.Column(db.Integer)
    profession_mere = db.Column(db.String(255))
    profession_pere = db.Column(db.String(255))
    Level = db.Column(db.Integer)
    School_period = db.Column(db.Integer)
    
    def __repr__(self):
        return f"<Student(id={self.id}, MoyenneGen_i1={self.MoyenneGen_i1}, ...)>"  # Add other columns as needed

In [16]:
from flask import Flask, jsonify, request
from flask_sqlalchemy import SQLAlchemy
from flask_cors import CORS

app = Flask(__name__)
CORS(app, resources={r"/*": {"origins": "*"}})

# Configuration for SQLAlchemy
app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql://root:root@localhost:3306/students'
# Suppress warnings about tracking modifications
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
# Initialize SQLAlchemy instance
db = SQLAlchemy(app)

# Define SQLAlchemy model
class StudentBrute(db.Model):
    __tablename__ = 'studentsbrute'

    id_eleve = db.Column(db.Integer, primary_key=True, autoincrement=False)
    id_annee = db.Column(db.Integer, primary_key=True, autoincrement=False)
    id_classe = db.Column(db.Integer)
    MoyenneGen_i1 = db.Column(db.Float)
    # Define other columns

    def __repr__(self):
        return f"<StudentBrute(id_eleve={self.id_eleve}, id_annee={self.id_annee})>"

    def to_dict(self):
        return {
            # Define attributes to include in dictionary
        }

@app.route('/data', methods=['GET'])
def get_data():
    try:
        data = StudentBrute.query.all()
        json_data = [item.to_dict() for item in data]
        return jsonify(json_data)
    except Exception as e:
        return {'error': str(e)}

@app.route("/predictStudent/<int:id_eleve>/<int:id_annee>", methods=["POST"])
def predict_student_route(id_eleve, id_annee):
    if request.method == "OPTIONS":
        headers = {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Methods': 'POST',
            'Access-Control-Allow-Headers': 'Content-Type',
            'Access-Control-Max-Age': '3600'
        }
        return ('', 204, headers)

    try:
        # Retrieve student data based on id_annee and id_eleve
        student = StudentBrute.query.filter_by(id_eleve=id_eleve, id_annee=id_annee).first()
        if student is None:
            return jsonify({"error": "Student not found"}), 404
        
        # Perform feature engineering on student data
        engineered_features = Feature_engineering(student)
        
        # Perform prediction using the engineered features
        prediction = predict(engineered_features)
        
        # Return prediction as JSON response
        return jsonify({"prediction": prediction}), 200
    except Exception as e:
        return jsonify({"error": str(e)}), 500

if __name__ == '__main__':
    app.run(host="0.0.0.0", port=5757)

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5757
 * Running on http://10.50.31.12:5757
Press CTRL+C to quit
127.0.0.1 - - [15/Mar/2024 14:48:10] "POST /predictStudent/835012/9 HTTP/1.1" 500 -

In [ ]:
df.

In [15]:
df.head()

,id_eleve,id_annee,id_classe,MoyenneGen_i1,NbrJourAbsenceAutorise_i1,NbrUniteAbsenceAutorise_i1,NbrJourAbsenceNonAutorise_i1,NbrUniteAbsenceNonAutorise_i1,MCaRtable_i1,istayssir_i1,...,id_genre,datenaiseleve,nationalite,id_handicap,Adress,Préscolarisé,profession_mere,profession_pere,Level,School_period
0,835012,9,D8D16D86-9CF7-455F-906B-FE1DD1A38839,8.38,40.0,0.0,0.0,48.0,0,0,...,1,2002,1,0.0,حي احجر معبد تاونات,0,Femme au foyer,agriculteur,8,42
1,7996730,9,5E610EE0-7805-4C91-94E6-13FCAEE55E59,9.30,49.0,8.0,4.0,6.0,0,0,...,2,2003,1,0.0,شارع بيروت 8 تجزئة رزقية الزهور 2 فاس,1,inconnu,agriculteur,8,5
2,7739476,9,A414DA01-EC06-4A71-BBDF-BFB4185E58D9,13.58,8.0,16.0,0.0,0.0,0,0,...,1,2004,1,0.0,جوهرة الاطلس عمارة 11 الشقة 11 بني ملال,0,inconnu,policier,8,20
3,211400,9,952D34FF-2649-47FB-AA75-E502E4C9A7D1,6.51,61.0,0.0,0.0,8.0,0,0,...,1,2004,1,0.0,جماعة دار ام السلطان,1,Caresser maison,agriculteur,8,22
4,4305350,9,C3E9025F-DAD9-434D-AC9A-1B5F5E5B352F,8.59,44.0,0.0,0.0,48.0,0,0,...,1,2002,1,0.0,مزدو,1,Femme au foyer,agriculteur,8,3